.navbar{
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    width: 92%;
    height: 75px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 40px;
    .paginas {
        display: flex;
        gap: 30px;
        color: aliceblue;
        text-decoration: underline;
        
    }

    background: rgba(46, 116, 92, 0.904);

    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    border: 1px solid rgba(255,255,255,0.08);

    border-radius: 20px;

    box-shadow:
        0 8px 32px rgba(0,0,0,0.35);

    z-index: 1000;
    background: linear-gradient(
    to right,
    rgba(10, 30, 20, 0.75),
    rgba(20, 50, 35, 0.45)
    );
    .navbar::before{
    content: "";
    position: absolute;

    width: 250px;
    height: 250px;

    background: rgba(82, 183, 136, 0.15);

    filter: blur(90px);

    top: -120px;
    left: -100px;

    z-index: -1;
    }
}
