*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background: #001e4d
}
.nav-container {
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
.navbar {
    background: #00560a;
    padding: 20px 0;
    justify-content: center;
    align-items: center;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 16px;
}
.nav-links li {
    margin: 0;
}
.links {
    display: inline-block;
    padding: 10px 20px;
    font-weight: 500;
    transition: all 0.3s;
    text-decoration: none;
    color: #fff;
}
.links:hover {
    color: #e0e0e0;
}

.app {
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 30px;
}
.app h1 {
    font-size: 25px;
    color: #072e6e;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}
.quiz {
    padding: 20px 0;

}

.quiz h2 {
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
}

.btn {
    width: 100%;
    padding: 10px;
    font-weight: 500;
    margin: 10px 0;
    background: #fff;
    color: #222;
    border: 1px solid #222;
    cursor: pointer;
    border-radius: 4px;
   transition: all 0.3s;
}
.btn:hover:not([disabled]) {
    background: #222;
    color: #fff;
}
.btn:disabled {
    cursor: no-drop;
}

.correct {
    background: #9aeabc;
}

.incorrect {
    background: #ff9393;
}

#next-btn {
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    padding: 10px;
    border: 0;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
